[2015-07-02 04:04] mikeferguson opened #9 "Calibration fails to install if previous user installed"
Permissions error is generated over use of /tmp/robot.launch by an unauthorized user. Can be solved one of several ways: add timestamp to temp file (probably best approach), use sudo for this step as well (bad), remove file at end of install (could fail).

[2015-07-03 19:16] #9 closed, assigned to mikeferguson

[2015-08-04 06:09] mikeferguson opened #11 "Create smoother calibration_poses.bag"
The current bag file moves the arm around a lot more than it probably needs to. Poses should flow better. At the same time, it would be worth adding some more margin so that a poorly calibrated robot is not at risk of hitting itself.

[2015-08-07 21:15] mikeferguson opened #14 "URDF has extra inertia properties"
URDF was auto-generated from Solidworks and apparently has inertia properties it should not. Inertia should only specify the 6 above-diagonal elements, so no iyx, izx or izy.

[2015-08-09 04:01] #14 closed, assigned to mikeferguson

[2015-09-12 15:01] mikeferguson opened #18 "fetch_teleop: unclean shutdown"
Found in upstart log:

[code]

[2015-09-14 03:26] #18 closed, assigned to nobody

[2016-02-22 21:42] mikeferguson opened #30 "fetch_depth_layer consumes cpu even when costmaps are shutdown"
Should implement activate/deactivate like the underlying voxel layer.

[2016-03-14 18:51] levavakian commented on #30
!claim

[2016-03-15 23:35] levavakian opened #36 "wrong repo"

[2016-03-15 23:54] #36 closed, assigned to nobody

[2016-03-16 19:15] #30 closed, assigned to levavakian

[2016-05-26 20:49] erelson opened #45 "tuck_arm.py AttributeError"
Found this traceback in robot.log.

[code]

[2016-05-26 20:53] #45 closed, assigned to nobody

[2016-09-22 02:30] josephinemonica opened #55 "Can not launch the simulation for fetch robot. Segmentation fault(core dumped)"
I tried to launch the simulation

roslaunch fetch_gazebo simulation.launch

but it failed with the following error message:

[code]

I notice it's written segmentation fault.

I have no problem with gazebo, as I can launch gazebo simulation using other robots.
In fact if I change the robot from fetch to freight. It can launch!
`roslaunch fetch_gazebo simulation.launch robot:="freight"`

So I think

[2016-09-22 04:39] mikeferguson commented on #55
@josephinemonica I've not had any other reports like this, and I've just locally tested and cannot reproduce. Can you give us a bit more info about your install?
- What version of ubuntu? 14.04, 16.04, something different?
- Is everything installed from debians? If not, please let us know which repos are being built from source (and which branches).
- If everything is from debians, can you make su

[2016-09-22 05:13] josephinemonica commented on #55
Hi @mikeferguson , thanks for your response.

I use : Ubuntu 14.04, ROS indigo, gazebo 2.
I installed using `sudo apt-get install ros-indigo-fetch*`
I tried to launch`roslaunch fetch_gazebo simulation.launch`, and other launch files , but they all failed.

If I change the robot to freight, they can work.

[2016-09-23 11:45] josephinemonica commented on #55
Sometimes the error produced is:
VMware: vmw_ioctl_command error Cannot allocate memory.
Aborted (core dumped)

I have tried to allocate more memory too.

[2016-09-23 12:09] josephinemonica commented on #55
@mikeferguson How may bytes of RAM is needed to run fetch simulation? I have allocated more memory. The error switches between "can not allocate memory" and "sgmentation fault".

e.g. if I set my RAM to ~ 2.7 GB or 6GB, the error is segmentation fault.
If I set RAM to ~ 4GB or 1GB, the error is can not allocate memory.

I'm really confused. Please advise.

PS ^ All those memory is within the allow

[2016-10-26 04:42] ruffsl opened #56 "Support for ROS Kinetic"
I have a Ubuntu 16.04 workstation and was trying to play around with the fetch_gazebo_demo package, and so was atempting build fetch_navigation package, but happened to hit what I think is some issues with recent changes in MoveIt!, see error output bellow. Any ETA on support on Kinetic for fetch_ros or fetch robots ingeneral?

http://pastebin.com/ARpmDGtA

[2016-10-26 04:51] mikeferguson commented on #56
We actually had all of the simulation working in late August during World MoveIt Day, but MoveIt in Kinetic has been a somewhat moving target as of late. It actually looks like only the ikfast is failing to build -- I think we'll be able to fix that relatively quickly.

As for Kinetic on actual robots, that's a bit further off -- it actually requires also getting 16.04 support finished. Is this so

[2016-10-26 04:58] mikeferguson commented on #55
Looking at the trace, it looks "gazebo_gui-3" is the process that died? It seems this really is a Gazebo in VMware problem, since I haven't seen any other reports of this being an issue with the fetch_gazebo packages.

I typically don't run ROS in virtual machines, but it looks like there are some other people who have run into similar errors: http://answers.gazebosim.org/question/13214/virtual-ma

[2016-10-26 04:58] #55 closed, assigned to nobody

[2016-10-26 05:21] josephinemonica commented on #55
I opened the link and tried the suggestion there: unchecking "Accelerate 3D Graphics" option in the virtual machine settings

And now I can open the fetch robot simulation!
Thanks @mikeferguson for the pointer

I really don't know why, cause I can open other robots (including freight robot) in gazebo simulation, except for this fetch..
Maybe this fetch robot is quite heavy in memory etc.

Anw It's

[2016-10-26 05:32] mikeferguson commented on #56
@ruffsl -- I don't have a kinetic machine here to test with tonight, but I think https://github.com/fetchrobotics/fetch_ros/pull/57 will fix the build on Kinetic since this was just the new URDF lib version issue

[2016-10-26 05:34] mikeferguson commented on #56
And about as soon as I pressed enter, I realized that might not fix everything. We probably also need to add C11 to the cmake, I'll try to test that on a 16.04 machine tomorrow.

[2016-10-26 08:42] ruffsl commented on #56
Thanks @mikeferguson, if you need someone to check the PR, I'd be happy to test using it.

My lab setup our workstations with 16.04 for the current ROS LTS before our fetchs arrived, realizing that they had been shipped with 14.04. Its mainly a desire to have our dev environments match our targets', but also the issue in rolling back would be troublesome, as the kernel shipped with 14.04 might be

[2016-10-27 15:25] mikeferguson commented on #56
@ruffsl -- moving your desktops to 14.04 might not be as hard as you expect -- Ubuntu has done a much better job lately in having upgraded installers and the 14.04.5 installer includes a 4.4 kernel and latest graphics support. We've not experienced much issue using these newer installers even with brand new laptops.

[2016-10-27 16:42] mikeferguson commented on #56
Build errors should now be fixed on the mainline, I'm going to leave this open for further discussion on Kinetic on real robots.

[2016-12-01 06:53] chengwei0427 opened #59 "fetch_depth_layer can't work in my robot"
First of all, thank you for your open source for this project

I am new to ROS, and I want to test the fetch_depth_layer. I download the fetch_depth_layer ,put it in the folder "catkin_ws/src",  and compile the source use "catkin_make -DCATKIN_WITHELIST_PACKAGES="fetch_depth_layer". successful~~
use node pkg `move_base`
here is my `local_costmap_params.yaml`

`local_costmap:
   global_frame: /odom

[2016-12-01 07:04] mikeferguson commented on #59
If you are using the navigation stack with a Fetch or Freight robot, please use the fetch_navigation package configurations. If you have issues with those packages on your Fetch robot, I suggest posting to the fetch-users group or opening a support ticket with Fetch Robotics.

While the licensing certainly allows you to use these packages on other robots, we only officially support the packages on

[2016-12-01 07:04] #59 closed, assigned to nobody

[2017-07-24 04:55] wsycy1994 opened #62 "What's mean of keepout map???"
why we need it ?

thanks

[2017-07-24 17:10] dbking77 commented on #62
It is used by commercial version of nav stack to mark areas that robot should not travel into, even if they may be free of actually obstacles.
I don't believe it is actually required for public repositories, can you provide more information on code or launch file that seems to make it required?

[2017-08-18 15:47] panshuyrr opened #63 "Support for Ubuntu 18.04"
I am working on a project using ROS and Fetch robot - including both working with the real robot as well as the simulation environment.

I am going to install Ubuntu in a new computer. Can I confirm with you whether all the features are fully supported in Ubuntu 16.04.3 LTS? Or Ubuntu 14.04 is the only choice for my new computer?

Thank you very much.

[2017-10-20 17:06] #62 closed, assigned to nobody

[2018-01-29 23:50] hzyjerry commented on #63
Hi, I have the same issue. Wondering if there's an updated answer to this at the moment?

Thanks

[2018-01-29 23:56] rctoris commented on #63
Currently the Fetch is only supported on Ubuntu 14.04. We realize we are nearing the end of support for Ubuntu 14.04 and have started initial investigations and plans for upgrading the research robots to a further version of Ubuntu. At this time we don't have an estimate of when this work will be complete but will update the community as we have additional information.

[2018-03-02 01:59] BillWSY opened #70 "/imu has an empty frame_id"
in the latest robot_driver package.

[2018-03-02 19:07] mikeferguson commented on #70
@dbking77

[2018-03-05 19:49] dbking77 commented on #70
@BillWSY What version of robot_drivers package?
[code]

[2018-03-06 00:14] BillWSY commented on #70
[code]

[2018-03-22 20:38] dbking77 commented on #70
This should fixed in 0.7.29.   @erelson @bluryi are there any plans to sync a new fetch_drivers release to the public repo?

[2018-03-23 02:00] DanielTakeshi opened #71 "Installation instructions?"
I'm new to ROS and am wondering about the installation for these packages. Are these supposed to be built in any way, or can we just copy these in, for instance, where the `roscd` command brings me to? Thanks.

Example: should I go and follow the building instructions:

http://wiki.ros.org/ROS/Tutorials/BuildingPackages

for all of the folders in this repository?

[2018-03-23 15:44] erelson commented on #71
These packages are made available as debians (so you can use apt-get to install them) via packages.fetchrobotics.com.  You can see the apt-get setup that references this on a robot by looking at /etc/apt/sources.list.d/[fetch|ros]-latest.list.  Note that at present we only support (and actively work with) Ubuntu 14.04.  Hope that helps.

[2018-03-23 17:43] DanielTakeshi commented on #71
Thanks @erelson for the helpful response. I am indeed using Ubuntu 14.04 and ROS Indigo.

I have a `ros-latest.list` but no `fetch-latest.list`:

[code]

So I made the fetch-latest file:

[code]

Then `sudo apt-get update` seems to run without errors:

[code]

Unfortunately apt-get cannot seem to find the packages:

[code]

(I assume we're supposed to use `fetch_navigation` if we want to install t

[2018-03-23 18:57] erelson commented on #71
This should fix it for you!: http://docs.fetchrobotics.com/care_and_feeding.html#re-setting-up-apt-get-sources

Note, I don't know the exact provenance of our ros-latest mirror; I think we update it when we release new debians, which we last did at the end of December.  For best effects I suggest using our mirror, but I'm not sure whether you'll actually have issues if you use the main mirror (wit

[2018-03-23 21:09] DanielTakeshi commented on #71
Thanks, but from those two commands, this is what I end up getting on my laptop (note: this is not the robot itself, but my laptop which interfaces with it):

[code]

So the only difference between what I had before and what I have now is that the `ros-latest.list` file refers to a different URL. Earlier that list referred to `deb http://packages.ros.org/ros/ubuntu trusty main`.

Just to be absolu

[2018-03-23 21:55] mikeferguson commented on #71
You'll never be able to apt-get "fetch_navigation" because the debian is actually called ros-indigo-fetch-navigation or ros-indigo-fetch-ros (same rules apply to all ROS debs -- name is ros-Distro-X where X = package name, with "_" replaced with "-").

From the above, I think your sources are right, you just need to use the Debian package name rather than the ROS package name.

[2018-04-02 15:26] DanielTakeshi commented on #71
Thanks @mikeferguson  it seems like that did the trick. I actually just tried installing the gazebo and it installed the stuff here as a side effect.

[code]

The calibration package was the only one that wasn't additionally installed, but it was straightforward to use the installation once I realized you use dashes and the `ros-indigo-[...]` when doing apt get install.

I think this is resolved.

[2018-04-02 15:26] #71 closed, assigned to nobody

[2018-04-20 23:08] BillWSY opened #72 ""Can't call nice to prioritize freight_driver!!!""
Hi Fetch,

I have been playing with fetch_driver in a Linux containers, and I run into the `Can't call nice to prioritize freight_driver!!!`.

I have tried adding a few methods, and I can even set priority with `renice`, but the error is still there. **Since I don't have access to the source code, can help me identify what is the logic behind this -- when will fetch_driver print this error message

[2018-04-21 00:42] dbking77 commented on #72
A recent change was made to fetch_drivers so they ask for a higher "nice"
priority when first starting.   If the drivers cannot get this higher
priority it complains, but will run the same as before, so I think it is
safe to ignore it.

If you look at the standard robot upstart, it gives the robot driver access
to a better nice level with the following lines:
limit memlock unlimited unlimited
limi

[2018-04-21 08:13] BillWSY commented on #72
Thank you. I was able to set ulimit levels for my containers and the driver is not complaining anymore.

[2018-04-21 08:13] #72 closed, assigned to nobody

[2018-05-02 16:06] DanielTakeshi commented on #63
@rctoris Hi, just wanted to kindly ask if there were any plans to upgrade to Ubuntu 16.04. Thanks!

[2018-05-02 16:24] rctoris commented on #63
Our current plan is to start work this summer to jump directly to Ubuntu 18.04. At this time we don't have an estimated completion date but will provide updates as we have them.

[2018-05-03 19:36] DanielTakeshi opened #74 "How to obtain three out of the five head camera image topics "of interest" (from the docs)?"
In the Fetch docs:

http://docs.fetchrobotics.com/api_overview.html#head-camera-interface

on the head camera interface, it is stated that there are five topics of interests.

When I do the following, though, it looks like only two out of the five happen to appear. (I'm using the standard ROS Indigo and Ubuntu 14.04.)

First, I start by launching a simulator:

[code]

and looks like the simulator

[2018-05-04 17:28] DanielTakeshi commented on #74
Figured this out somewhat, the docs seem to be outdated. After running the gazebo, I ran `rostopic list` and got this for all the `head_camera` stuff:

[code]

I switched the names around a bit and got some images which I could save.

Is there a list somewhere which describes all of these topics?

I also still wonder if there's a way to save PointCloud2 data to png?

Thanks!

[2018-05-04 17:37] mikeferguson commented on #74
It appears that API documentation is really only accurate for the real robot -- the gazebo interface is close (there are no IMU or breakers either AFAIK). If I recall correctly, the Gazebo model uses the default 3d camera model, which doesn't support depth images -- which would knock out the two topics you don't see.

A PR to add the information about what the proper simulation data is would proba

[2018-05-08 05:01] DanielTakeshi commented on #74
Thanks @mikeferguson , so the difference in gazebo vs real robot means my collaborators and I will most likely add an option to our code to specify whether we're using the simulator or a real robot. I'll report back on any other differences that I encounter, though hopefully there won't be any.

Sorry, just another quick question, is there additional documentation on what the topics mean, besides

[2018-05-16 18:27] DanielTakeshi commented on #74
I tested on the real robot, and the topics seem to match the Gazebo simulator exactly, as in the docs are a bit out of date. However it's clear that one should use the names as resulted from `rostopic list` anyway.

[2018-05-16 18:27] #74 closed, assigned to nobody

[2018-05-18 08:43] pholthaus commented on #56
I currently use kinetic on my local machine connected to a robot that still operates on indigo. So far without problems - everything builds on kinetic and seems to work as intended.

Still, are there any plans on updating the robots (maybe directly to melodic)?

[2018-05-22 00:23] rctoris commented on #56
There are some initial plans this summer to begin upgrading the OS/ROS version for the research robots. We will email out to the distribution list as we have some more details/dates.

[2018-06-05 15:56] mikeferguson opened #75 "support for robot_calibration updates"
As an FYI, I pretty much rewrote how finders and optimization work in robot_calibration, see:
 * [Finders are now plugin-based](https://github.com/mikeferguson/robot_calibration/issues/37)
 * [GroundPlane/PlaneFinder are now merged into single finder with unified params](https://github.com/mikeferguson/robot_calibration/issues/38)
 * Error block names/params have been cleaned up -- see [Readme](ht

[2018-07-10 02:20] moriarty commented on #63
Just as an update: @rctoris mentioned “this summer” ... some preliminary work has started on this.

It was possible to upgrade to 18.04 and Melodic, not all dependencies were available in Melodic, so some were cloned into a catchin workspace, patched and built from source.

There are some issues which we’ll work out before officially releasing... e.g. the onboard bluetooth: required for the ps3joy

[2018-07-10 02:29] DanielTakeshi commented on #63
@moriarty Thank you! It would be fantastic to have it upgraded to 18.04, and we would upgrade our software in a heartbeat.

[2018-07-10 02:49] moriarty commented on #63
For anyone with a new laptop running 16.04 (myself personal laptop included) it is possible to clone the repositories and build them with Kinetic in a catkin workspace.

This was covered in another issue. #56, Specifically three comments.

A few changes were required but they were straight forward from the compile errors to fix.

C++11 flags were needed in a few places: https://github.com/fetchrob

[2018-07-12 20:50] cjds opened #79 "Change from boost mutex to standard mutex locks in fetch_teleop"
Because locks are standard now?

https://github.com/fetchrobotics/fetch_ros/blob/melodic-devel/fetch_teleop/src/joystick_teleop.cpp#L153

https://en.cppreference.com/w/cpp/thread/mutex

[2018-07-14 23:11] moriarty commented on #79
:+1:

[2018-07-14 23:11] moriarty commented on #79
Can also change boost::shared_ptr to std::shared_ptr.

[2018-07-18 18:35] moriarty commented on #63
Progress Report:
I've opened a PR for Navigation: https://github.com/ros-planning/navigation/pull/755

https://github.com/ros-planning/navigation/issues/749#issuecomment-405812657 which once merged we will get a melodic release for ROS navigation, one of our dependencies :heavy_check_mark:
https://github.com/ros-planning/navigation/milestone/4

Once that is released some of our smaller dependencie

[2018-07-24 01:19] ayzaan commented on #70
When is the fix going to be released? It looks like the latest available is 0.7.28

[2018-07-27 00:58] moriarty commented on #56
@ruffsl & @rctoris can we close this?

We're going to release for **18.04** & **Melodic** soon.

On the ros-software side: _most_ things are working and tested on **18.04**. I've updated #63 with some more details.
On the hardware side, I've got a little bit of work to do with the **ps3joy** tweaking, the current work around isn't ready for release, and to port some things from **upstart** to **sy

[2018-07-27 03:10] ruffsl commented on #56
:tada: ping @BillWSY

Can we have a new ticket to replace this one to track 18.04 progress and be notified of release?

[2018-07-27 04:12] moriarty commented on #70
@rctoris: This sounds like it also effects **14.04.5** and **Indigo** but I've added it to the **18.04** milestone to keep track of it.

[2018-07-27 06:26] moriarty opened #83 "Package.xml format 1 -> 2"
http://www.ros.org/reps/rep-0140.html

[2018-07-27 06:51] moriarty opened #84 "ps3joy / sixad issues"
See:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1764645

There is an upstream patch coming... It's upstream in master and bionic.
https://lists.ubuntu.com/archives/kernel-team/2018-June/093557.html
https://lists.ubuntu.com/archives/kernel-team/2018-June/093434.html

To work around this in the meantime, I used the patch from here (link was in bug report)
https://github.com/jeremyb31/newbt

[2018-07-27 17:21] moriarty opened #85 "Enable Travis & setup ros-industrial/industrial_ci"
This shouldn't be much work. In house we've got TeamCity & [Back-of-House](https://roscon.ros.org/2016/presentations/PhysicalContinuousIntegrationSlides.pdf) but to quickly check community contributions this would be useful.

- [ ] Enable travis-ci: @rctoris https://travis-ci.org/profile/fetchrobotics
      @velveteenrobot has it running on https://github.com/fetchrobotics/fetch_pbd so it's just a

[2018-07-27 17:23] mikeferguson commented on #85
You could also just turn on PR building on the ROS buildfarm. The turnaround time might be more like an hour, but I doubt that is a big concern

[2018-07-27 18:09] moriarty opened #86 "upstream urdf/model.h broke a line in drivers"
There is a one line fix which needs to go into our private **fetch_drivers** code.

I locally patched around in the meantime, and almost forgot that I had.

I'm opening the ticket here in public to track it with the other **18.04 & Melodic** issues:
The line isn't very secret:

[code]

A backwards compatible patch for both **Indigo** & **Melodic** is possible, but then we need to ensure those cust

[2018-08-09 16:55] warp1337 commented on #63
Hi everyone!

first things first ... hi Patrick @pholthau I knew our paths would cross at some point ... again ... :D

However, I just built the packages required for the navigation demo (Gazebo7) from source on 16.04. Seems to work as @moriarty pointed out earlier.

My incentive was pretty much that I just wanted to have a look at the "Fetch stack", thus no hardware involved.

 I believe that's a

[2018-08-15 16:22] rctoris commented on #63
I think having some support for kinetic in simulation could be worth having if people would like to contribute. For hardware support, at this point it makes the most sense to jump to melodic.

[2018-08-19 07:37] moriarty commented on #84
It looks like the patch might finally by in the ubuntu bionic kernel 4.15.0-33.

[2018-08-20 01:03] #86 closed, assigned to rctoris, erelson, cjds

[2018-09-05 21:37] alimuldal opened #93 "Please consider using a more permissive license than CC-BY-NC-ND for `fetch_description`"
As far as open source licenses go, CC-BY-NC-ND is about as restrictive as it gets. In particular, the "no derivative works" clause means that it's not possible for others to distribute versions of the URDFs/meshes that have been modified for research purposes, or converted to different formats (e.g. MuJoCo MJCF). Would you consider switching to a more permissive open source license, such as BSD or

[2018-09-06 02:16] erelson commented on #93
We'll look into whether this is the appropriate license for this. Thanks for the heads-up @alimuldal !

@moriarty: https://github.com/fetchrobotics/fetch_ros/blob/melodic-devel/fetch_description/package.xml#L13
https://github.com/fetchrobotics/fetch_ros/commit/505c51bd61b16af2ecd758a17afe5d35bc318bff

[2018-10-01 22:15] nickswalker commented on #63
Is there a preliminary release of `fetch-drivers` available for folks who want to try Melodic on their robots?

[2018-10-23 17:12] alimuldal commented on #93
Hi @moriarty, any news on this?

[2018-10-25 20:27] moriarty commented on #93
No update yet. Actually I've been on parental leave.

Could you provide a more specific example of your use case?
If we know the use case, we can perhaps find an option... Perhaps dual license allowing research purposes.
@erelson and I can try to find out why the change was made from **Proprietary** to **CC-BY-NC-ND**.

[2018-10-26 12:01] alimuldal commented on #93
I'm one of the developers of the DeepMind Control Suite (https://github.com/deepmind/dm_control). I'm interested in potentially using the Fetch meshes and URDFs to create some reinforcement learning environments for research purposes. I'd need to convert the URDFs to MuJoCo's MJCF format, and probably make some tweaks to the model and/or meshes in order to get the desired behaviour in MuJoCo. The

[2018-10-30 05:49] moriarty commented on #93
Okay thank you for the clarification.

I have spoken with @mmwise and removing the "ND" clause is something that we are considering.

I don't think this is something that we'll remove.

From your description, it sounds like removing the "ND" clause is what is blocking you from going forward and you would need the "NC" clause removed only as a legal precaution in the event that Google decides to co

[2018-10-30 11:42] alimuldal commented on #93
Removing the "no derivatives" clause seems like it would be a helpful change for academic researchers who might want to build on these models, but unfortunately our company policy means that I can't touch any code released under a non-commercial license (for any purpose, including research that's unrelated to any product).

[2018-10-30 17:25] moriarty commented on #93
That sounds good. And I have looked through the Deep Mind Control Suite, it looks very nice.

That does indeed sound like an unfortunate problem with Google's company policy...
Is that the same as this document:
1. https://opensource.google.com/docs/thirdparty/licenses/#noncommercial
    https://opensource.google.com/docs/thirdparty/licenses/#ExceptionsTargets

I just did a "Google search" and it

[2018-10-30 22:23] moriarty commented on #63
Sorry for the delay, no ```fetch-drivers``` and the new **upstart->systemd** scripts are two remaining packages which need to be made available, if one were to try a DIY upgrade: which we do not recommend or support.

But we will be testing the packages and upgrade process before the official "upgrade" process is announced and made generally available.

We're working towards making the upgrade pro

[2018-11-14 08:24] ZhangShuaiGou opened #98 "libgazebo7 vs libgazebo9"
Hi all, when I clone this repo(fetch_ros/melodic-devel) into my workspace, and do rosdep install, it would occur error shown as below:

executing command [sudo -H apt-get install libgazebo7-dev]
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libgazebo7-dev is not available, but is referred to by another package.
This may mean that the package is mi

[2018-11-15 00:15] moriarty commented on #93
Just to ping @alimuldal. We're still talking about this internally.

[2018-11-15 00:20] moriarty commented on #98
This repository shouldn't depend on Gazebo.

This repository does: https://github.com/fetchrobotics/fetch_gazebo but it looks like the master version of that branch has been updated for gazebo9.

[2018-11-15 00:37] ZhangShuaiGou commented on #98
Thanks at first!
But when I just clone fetch_gazebo and do rosdep, I would get this ERROR:

ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
fetch_gazebo_demo: Cannot locate rosdep definition for [fetch_navigation]
fetch_gazebo: Cannot locate rosdep definition for [fetch_description]

In order to deal with it, I cloned fetch_ros, then this ERRO

[2018-11-15 00:43] moriarty commented on #98
Which version of Ubuntu, and which version of ROS?
Can you print the output of your catkin workspace. Run wstool and paste the output with github ` ``` ` for code snippets.

Currently the officially supported version is Ubuntu 14.04 and Indigo... But if you're building from source and only using simulation with Gazebo, then newer versions should work too.

Also just FYI: you caught me at a lucky t

[2018-11-15 01:40] ZhangShuaiGou commented on #98
It is Ubuntu 18.04 with ROS Melodic.
Sorry I didn't get you with those question. I didn't use wstool, I just use rosdep and catkin_make.
I build it from source, to make it clear, I will explain how I build it, if there is something wrong, please point it out.

First, I get into my catkin_ws/src, then run
` git clone -b gazebo9 https://github.com/fetchrobotics/fetch_gazebo`

after done, back to cat

[2018-11-17 03:52] ZhangShuaiGou commented on #98
problem solved! Thank you! I will close it.

[2018-11-17 03:52] #98 closed, assigned to nobody

[2018-11-22 10:11] NorwegianRockCat opened #99 "Incorrect pdist_scale and gdist_scale for fetch_navigation in local planner"
Hello,

I've been playing around with the local planner and Fetch. I based my code off the base_local_planner and was copying the configuration variables over, when I saw this in fetch_navigation/config/move_base.yaml
[code]
However, if you look at the (documentation of these parameters)[https://wiki.ros.org/base_local_planner#Trajectory_Scoring_Parameters]. It says that the maximum value is 5.0 f

[2018-11-22 13:34] knorth55 commented on #56
I still  want kinetic support and deb package release of `fetch_description`.

[2018-12-13 18:39] cjds commented on #83
+1

[2019-01-15 22:05] nickswalker opened #102 "Fetch navigation performs poorly in Melodic simulation"
**Steps**
With up to date versions of fetch_ros and fetch_gazebo

    roslaunch fetch_gazebo playground.launch

And

    roslaunch fetch_gazeo_demo fetch_nav.launch

**Behavior**
When given a nav goal, the robot's localization drifts quickly (seems like it happens during rotation). The robot is never able to reach the goal.

https://youtu.be/w1y0b5aI3o8

Nothing jumps out from the standard `move_b

[2019-01-25 04:09] varunagrawal commented on #56
@ruffsl @mikeferguson any updates on this?

[2019-01-25 21:47] ruffsl commented on #56
@varunagrawal , not that I'm aware, I haven't been keeping up with this migration.
https://github.com/fetchrobotics/fetch_ros/issues/63 seems to show the latest status.

[2019-01-27 20:51] mikeferguson commented on #56
Just FYI, I left Fetch at the end of 2017, so I can't provide any updates on this.

[2019-02-05 03:41] moriarty opened #103 "[fetch_ikfast_plugin] fix MOVEIT_DEPRECATED warnings"
TODO: fix these

[code]

[2019-02-05 23:19] #83 closed, assigned to nobody

[2019-02-13 19:06] cjds commented on #56
@ruffsl @varunagrawal @knorth55  we have been supporting melodic for Fetch and are going to do a deb package for that Target.

We can probably get a Kinetic one out if people really need it but will melodic work for you or do you speicifically need Kinetic?

@moriarty FYI

[2019-02-13 19:18] moriarty commented on #56
Closing this issue.

We've missed the boat :ship: on Kinetic. We'll support Indigo and Melodic.

Kinetic, won't be getting Debian releases.

For simulation it should be possible to run Kinetic but on the real hardware we won't be testing the drivers on Kinetic. We have hardware requirements that require running the newer kernel and supporting and testing all versions is problematic.

https://githu

[2019-02-13 19:18] #56 closed, assigned to nobody

[2019-02-13 23:04] moriarty commented on #63
https://github.com/ros/rosdistro/pull/20301

[2019-02-14 09:45] pholthaus commented on #63
Is there any documented way of upgrading the robot itself?

[2019-02-14 17:18] erelson commented on #63
@pholthau that documentation is ready in a PR, but pending testing once the 18.04 debians are actually created. Soon :)

If you want to take a look (feedback/questions very welcome), see the PR here: https://github.com/fetchrobotics/docs/pull/60

[2019-03-11 22:01] #103 closed, assigned to nobody

[2019-03-12 05:52] moriarty commented on #85
Yep, I've setup the PR building on the ROS buildfarm, travis-ci has been acquired by Idera and I'm not sure how long it will be around :'(

Closing this.

[2019-03-12 05:54] #85 closed, assigned to nobody

[2019-03-12 06:00] moriarty commented on #63
@pholthau fetchrobotics/docs#60 has been merged.

http://docs.fetchrobotics.com/indigo_to_melodic.html

[2019-03-12 16:48] pholthaus commented on #63
@moriarty thanks a lot for this. Will try it out as soon as I can get my hands on the robot again!

[2019-03-14 20:47] moriarty commented on #63
Warning: 18.04 has been released and works on the physical robot...
**But** we're having trouble identifying and fixing some bugs with the robot in **Gazebo9**.

These issues are being tracked here:
https://github.com/fetchrobotics/fetch_gazebo/issues/37

https://github.com/fetchrobotics/fetch_gazebo/issues/36#issuecomment-463694403 from @nickswalker

We'll email everyone who owns a Fetch and anno

[2019-03-15 00:33] moriarty commented on #70
**0.7.29** was never released for **Indigo**, and at the time we changed how everything internally was built and released (docker, automated nightly builds, different versioning).

@cjds & @bluryi we should discuss if, and how to release this package, or if we will only support **0.8.6** and **Melodic**.

**0.8.6** is available in the default ros melodic packages. Versions **0.8.0** -> **0.8.5** w

[2019-03-24 05:09] huangjiancong1 opened #109 "Could not find the opencv_candidateConfig.cmake"
Hello, @fetchrobotics

[2019-03-24 05:11] huangjiancong1 commented on #109
Ros-Kinetic with gazebo7:
package version: https://bitbucket.org/theconstructcore/fetch_tc/src/r0-kinetic/fetch_sim/ with the branch: **r0-kinetic**
My opencv version: OpenCV- 3.3.1

Error:
[code]

[2019-03-24 05:22] huangjiancong1 commented on #109
When i use their other branch names **kinetic**,https://bitbucket.org/theconstructcore/fetch_tc/src/kinetic/
 it can find the opencv_candidate but have miss some API:
[code]

[2019-03-24 06:43] huangjiancong1 commented on #109
Issue done by:
sudo apt-get install ros-kinetic-opencv-candidate and ros-kinetic-opencv-apps

[2019-03-24 06:59] huangjiancong1 commented on #109
After finish compiled, i can not tun `roscore`, is seems that i without some `libcpp file`, like:
[code]

When I run: `ldd /opt/ros/kinetic/lib/rosout/rosout`:
[code]

[2019-03-26 20:26] SuhailTR commented on #98
for generic ROS users just change libgazebo7 to libgazebo9 in the following file

~/ros_catkin_ws/src/gazebo_ros_pkgs/gazebo_dev/package.xml:
   20    <buildtool_depend>catkin</buildtool_depend>
   21
   22:   <build_export_depend>libgazebo7-dev</build_export_depend>
   23    <exec_depend>gazebo</exec_depend>

[2019-03-31 06:23] moriarty commented on #63
TL;DR:
---------

- We've released **fetch_ros** v0.8.0 with support for **18.04** on Fetch Robots, the process is currently a **DIY for early adopters**.
- @erelson has published http://docs.fetchrobotics.com/indigo_to_melodic.html
- The source code for the site is here: https://github.com/fetchrobotics/docs/ if there are any steps which are unclear please open an issue.
- As early adopters move

[2019-03-31 06:47] moriarty commented on #109
1. That repository and branch is from TheConstructSim so I will tag @RDaneelOlivav It would have been best to raise the issue with where you found the source code.
2. It looks like you're trying to use the fetch in simulation (we only support 14.04 and 18.04) so this issue would be better in https://github.com/fetchrobotics/fetch_gazebo
3. It seems you've cloned a package but haven't installed the

[2019-03-31 06:47] #109 closed, assigned to nobody

[2019-03-31 14:41] zephyr06 opened #112 "Error compiling fetch_teleop"
[code]

Any suggestions? Thanks a lot!

[2019-03-31 22:58] erelson commented on #112
Hi @Zephyr06, can you give more information on what OS/ROS release you're working with?

[2019-03-31 23:23] zephyr06 commented on #112
Hi, it is ROS melodic; It is a little strange because I tried to install and compile using the same procedure in another computer and it just worked.

[2019-04-01 00:41] erelson commented on #112
I would suggest comparing the boost and C++ compiler versions in use between the two computers to see what might be different. Hope that helps!

[2019-04-01 09:29] RDaneelOlivav commented on #109
@huangjiancong1 As @moriarty said, it would be better to place the issues in the git you find them. Having said that, now the fetch_gazebo gits are being updated a lot, and have great improvements and starting to have support for Melodic, so I highly recommend that you use the fetch official git, because it has the latest changes. Theconstruct version is a stable version that we update only when t

[2019-04-03 18:30] ejichen opened #113 "Error in latest IK_Fast Plugin"
https://github.com/fetchrobotics/fetch_ros/pull/107 seems to have an error

[2019-04-03 18:34] ejichen commented on #113
d96eb9af685a9c43a9b75f8205698e885d0ac40f

[code]

[2019-04-04 18:04] moriarty commented on #113
closed via #114

[2019-04-04 18:04] #113 closed, assigned to nobody

[2019-04-04 20:01] moriarty commented on #112
@Zephyr06 could you please provide details on the rest of your catkin workspace?

`wstool info` inside of your workspace/src directory and if you haven't set up `wstool` you must first run `wstool scrape` and add the repositories before running `wstool info`.

Also, please ensure all of your ros packages are up to date:
1. `sudo apt update`
2. `apt list --upgradable` you shouldn't have any ros pac

[2019-04-05 21:55] ghost commented on #63
Just tried upgrading to **18.04**.
The gripper was working fine before the upgrade, but after the upgrade,

[code]

fails and `arp -a` yields

[code]

Since the step for `ping`ing `10.42.42.43` was in the update procedure I suspected that this might be an issue related to the upgrade.
I'd appreciate any ideas on fixing the issue.

[2019-04-06 20:22] erelson commented on #63
@ryom314 Sorry to hear about the issue. If you can open a support ticket at support.fetchrobotics.com, we can get started troubleshooting the issue. Thanks!

[2019-04-06 21:08] josiahls opened #117 "[BUG] fetch.urdf links: bellows_link, bellows_link2 make robot bounce"
**Describe the bug**
I am porting the fetch URDF to bullet3. Looking through the URDF I found bellows_link and bellows_link2. They are causing the robot to every-so-often jump due to self collision.

Main question, is it necessary to include a collision mesh for bellows_link2? It seems like it is just for visuals.

When I comment out the bellows_link2 collision mesh, this problem is fixed.

**To R

[2019-04-08 02:46] erelson commented on #117
Quick take: looking at the gif, the torso is going down lower than is physically possible.  Not sure if that's related, or just a side effect of the internal collisions you note.

Do you know whether the bellows collision link is moving with the torso? (I believe the visual portion does.)  Is it colliding with the base, or with other parts of the torso (skins, etc.)?

A few observations; I am not

[2019-04-08 19:56] zephyr06 commented on #112
Well, I reinstall the total ubuntu computer system, and it works right now......

[2019-04-08 19:57] zephyr06 commented on #112
Thanks for all of you guys' help!

[2019-04-08 19:57] erelson commented on #112
Glad it's working!

[2019-04-08 19:57] #112 closed, assigned to nobody

[2019-04-10 03:06] DanielTakeshi opened #119 "ROS 2 clarification"
(I wasn't sure if I should call this a "feature request" so I am just posting as a normal issue.)

Thanks for all the work you've done getting Ubuntu 18.04 support. We're excited to try this out!

Meanwhile, as of today on the master branch, I see this text:

It mentions ROS1 and ROS2. From my understanding if we use rospy for development, ROS1 requires Python 2 (I assume 2.7) while ROS2 uses Pyth

[2019-04-10 15:17] erelson commented on #119
Hi Daniel, that is correct. I'll add a note on my next pass at those instructions, though they do currently link to ROS 1 install procedure on the wiki.  @moriarty will know more about future plans.

[2019-04-11 02:41] DanielTakeshi commented on #119
Thanks!

[2019-04-11 02:41] #119 closed, assigned to nobody

[2019-05-10 15:49] erelson commented on #63
@ryom314 I don't believe I've seen any support ticket from you, but I also do not know which robot/research group/university you are working with. Were you able to resolve your issue? Thanks!

[2019-05-10 23:24] ghost commented on #63
Thanks for asking. I'm contacting Mark Onaga. A downgrade to 14.04 didn't
resolve the issue so it probably wasn't an OS compatibility issue.

On Fri, May 10, 2019, 8:49 AM Eric Relson <notifications@github.com> wrote:

[2019-05-31 16:53] nickswalker commented on #63
I've just verified that our gripper is unresponsive after the upgrade as well. We'll get a support ticket in soon!

[2019-05-31 18:48] sergeant-wizard commented on #63
FYI we ended up replacing the MCB for the gripper

[2019-05-31 20:11] sergeant-wizard commented on #63
(Don't know if the issue was triggered by the update to 18.04 or not.)

[2019-06-01 00:08] erelson commented on #63
Hi @nickswalker, We'll keep an eye out for the support ticket. Thanks!

@ryom314 @sergeant-wizard glad you guys are back in action. We were able to use your problem board to identify a workaround, should the same thing happen going forward.

[2019-06-06 16:26] jbhoffman613 opened #121 "Master_Sync cannot find Master_discovery node"
**Describe the bug**
After running the master_discovery node on the fetch robot, we expected the master_sync node to automatically see that master_discovery node is running, but it does not. We are also running the master_discovery node and the master_sync on the workstation and other robots, and the master_sync node discovers the discovery node without problem.

**To Reproduce**
We are following

[2019-06-06 16:34] jbhoffman613 commented on #121
I think this issue is actually better suited for a different repo. Thank you!

[2019-06-06 16:34] #121 closed, assigned to moriarty

[2019-06-13 16:40] moriarty commented on #63
Just to update the public, the issue from @nickswalker at University of Washington was fixed without replacing the MCB.

@erelson asked in the support ticket:

And then to run:

[code]

[2019-06-13 16:44] moriarty commented on #63
@erelson should we close this ticket?

I think we can deal with any of the future items under a new issue.

- PS3 Joystick
- Gazebo behaviours
- any other things that come up

[2019-06-13 16:48] moriarty commented on #63
Confirmed with @erelson over Slack.

I'm closing this. Please see the upgrade guide:

http://docs.fetchrobotics.com/indigo_to_melodic.html

And open any new issues, or support tickets if you have any problems.

[2019-06-13 16:48] #63 closed, assigned to nobody

[2019-06-13 16:54] moriarty commented on #75
Sorry I added a milestone but still forgot

[2019-06-13 16:58] moriarty commented on #70
Sorry-

We didn't get around to fixing this and releasing **0.7.29** into Indigo, which is now End of Life.

You should be able to upgrade to **18.04** and **Melodic** which will give you a new version of the drivers where this has been fixed.

https://docs.fetchrobotics.com/indigo_to_melodic.html

[2019-07-13 00:56] mmwise commented on #93
Selected License
Attribution-NonCommercial-ShareAlike 4.0 International

[2019-07-25 17:35] moriarty commented on #93
@alimuldal I apologize that this took so long, and hope you're able to share some of your work, despite the **NC** clause still being there.

I'm sure the MuJoCo's would be appreciated by the community

[2019-07-25 18:00] #93 closed, assigned to moriarty

[2019-07-25 18:03] moriarty commented on #117
FYI We've now removed the **ND** clause from the license to allow for derivative works as long as they're still **NC** and **SA**.

I haven't had a chance to look into this issue yet.

[2019-08-07 16:55] mptangtang opened #126 "[BUG] Potential self-collision with fetch_moveit_config"
**Describe the bug**
When I tried to move the fetch arm to some pose in cartesian space with torso fixed to some designated height, I found it is difficult to realize that and the method I figured out is easily causing self-collision or no solution.

**To Reproduce**
I attached my code to here.

The test program tries to raise fetch's torso to the height of 0.3 and then fixed the torsor and only m

[2019-08-12 14:39] erelson commented on #84
We weren't able to find a fix to make the PS3 controller fully usable. We've moved instead to recommending PS4 controllers for 18.04 robots.

[2019-08-12 14:39] #84 closed, assigned to nobody

[2019-08-13 03:10] xiaoyuch24 opened #127 "How disable moveit collision checking on fetch's gripper?"
Hi all,

I would like to use moveit group to do motion planning for fetch's arm without considering the collision on its gripper.

I first enable the moveit active sensing, and then create the move_group by either:

`move_group = MoveGroupInterface("arm", "base_link")`
or
`move_group = moveit_commander.MoveGroupCommander("arm")`

However, the motion planner will always consider the collision betwe

[2019-08-14 06:30] moriarty commented on #127
I guess I'll need to make a github issue template for questions... Please let me know the basics:

1. fetch_ros version:
2. OS version:
3. ROS version:
4. current catkin workspace information `wstool info`:
5. (Hardware) Robot Number
5. (Simulation) Gazebo Version / fetch_gazebo version

[2019-08-14 21:44] xiaoyuch24 commented on #127
@moriarty Hi Alex,

I am using

1. fetch_ros version: 0.7.13
2. OS version: Ubuntu 14.04
3. ROS version: indigo
4. My catkin workspace named with "projects", I run
`wstool status -t projects/`
I got
`ERROR in config: /home/yuchen/projects has no workspace configuration file '.rosinstall'`
I guess this is because my workspace is not built by using wstool, right?
5. Robot Number: 1501-0000(MODEL)
6.

[2019-08-20 05:48] moriarty commented on #70
Re-opening this to check if it's actually fixed in *0.7.29* and later releases.

[2019-08-20 17:40] moriarty commented on #70
~I'm closing this again because. I've tested on **Fetch3** with drivers 0.8.6~

**amoriarty@fetch3:~$ rostopic echo /odom | grep frame_id -n1 -m3**
[code]

**amoriarty@fetch3:~$ dpkg --status ros-melodic-fetch-drivers**
[code]

[2019-08-20 17:55] moriarty commented on #70
I need more :coffee: .. I checked the wrong topic :man_facepalming:  sorry.

This issue is still open :-1:

[2019-08-20 18:39] moriarty commented on #70
**amoriarty@fetch3:~rostopic echo /imu | grep frame_id -n2 -m3**
[code]

[2019-08-20 18:57] moriarty commented on #70
Found the problem.

The frame_id is being set for `/imu1/imu` and `/imu2/imu` but not `/imu` which is the combined imu.

The constructor should have a better default for the frame.

[2019-08-21 00:02] #70 closed, assigned to nobody

[2019-08-21 00:13] moriarty commented on #70
This was automatically closed when I merged a commit to the private repo mentioning this issue.

The real fix is in the CI pipeline and will be available in **0.8.8**

[2019-08-21 23:12] moriarty commented on #70
binary drivers 0.8.8 https://github.com/ros/rosdistro/pull/22072 should fix this.

[2019-08-28 20:48] moriarty commented on #70
fixed in `ros-testing`

[2019-09-11 19:26] moriarty commented on #127
Okay, sorry for the delayed response.

1. You'll still want to consider collisions with the gripper. Otherwise you could damage the robot.

What you'll want is to allow collisions between the gripper and the object which has been grasped, and move the object which has been grasped from a collision object to a attached object.

the 'touch_links' argument is what you'll want to set this will allow s

[2019-11-20 23:16] mikeferguson commented on #75
I actually tested this today

[2019-11-20 23:16] #75 closed, assigned to moriarty

[2019-11-20 23:27] moriarty commented on #11
@narora1

[2019-11-21 17:11] erelson commented on #11
Note: Current workaround to issues caused by this is to run calibration at 0.5 or 0.75 velocity.

[2020-04-14 18:37] 708yamaguchi opened #138 "[BUG] Fetch in Gazebo gets dark."
## Bug overview
When I use fetch in gazebo, fetch in gazebo looks darker than expected. Fetch in Rviz looks normal.
I think the cause is this commit (https://github.com/fetchrobotics/fetch_ros/commit/20cd76f4ee2ee1796b36bae3191a1a8b4b959ef7 , next commit to `0.8.0`)
I am sorry, but I am not familiar with mesh files. Could you please replace current `.dae` files with `.dae` files which does not loo

[2020-04-16 03:11] erelson commented on #138
Hi @708yamaguchi, thanks for the report!

I noticed this as well last month, but only during a quick test, and assumed it was an issue with my laptop's GPU (GTX 1060, I believe).  Do you know if your setup uses an AMD or NVidia GPU? I'll check if others can confirm.  If it's an issue with the .dae files my initial assumption would be the material properties need to be updated in some manner.

[2020-04-16 04:06] 708yamaguchi commented on #138
Hi @erelson, thank you very much for your support!

My laptop has NVIDIA GPU (details are below), but it seems that my laptop does not use GPU.
I checked this situation by the commands below. During playground.launch, GPU did not use its memory.
[code]

Here is my CPU and GPU environment.
CPU
[code]
GPU
[code]

[2020-04-16 04:32] mikeferguson commented on #138
So we've definitely run into issues like this before. Basically, Gazebo and RVIZ load the shading information entirely differently -- we struck a fine balance with the original model to make it work the same in Gazebo and RVIZ.

[2020-04-16 05:06] 708yamaguchi commented on #138
@mikeferguson
Thank you very much for your information.

I understood the circumstances.

[2020-04-16 05:18] erelson commented on #138
@RDaneelOlivav do you have any insights to provide on this issue's topic? It appears that the changes in your PR last year for OpenWebGL/TheConstruct, had undesired effects in gazebo appearances.  Have you dealt with this for other robots you've simulated, or have recommendations?  Thanks!

[2020-04-16 07:03] RDaneelOlivav commented on #138
@erelson Hi. Well that could be for a number of reasons. In my experience when a texture apears black could be because:
1) When exporting the dae, it wasn't done correctly with lighting included in the blender scene and that could affect. It also helps to use models with the shadows disconnected, that way the textures are rendered similar to RVIZ.
2) This could also be due to not finding the textu

[2020-04-16 12:51] knorth55 opened #139 "Release request for melodic and kinetic"
fetch_ros is not released from August 2019.
is it possible to release newer version for melodic and kinetic?

[2020-06-01 15:38] erelson commented on #138
As a datapoint, I do reproduce the dark model as shown in the original post.  I then switched my laptop from integrated Intel graphics to using the NVidia card/drivers, and features do resolve, somewhat.  Still not how it was prior to the .dae models getting changed.  Pending an external conversation, I will probably take the simple approach of reverting the .dae models.
![image](https://user-imag

[2020-06-11 16:59] moriarty commented on #139
Fetch skipped support for Kinetic. I did however release some packages to Kinetic for simulation because there were complaints with the Indigo->Melodic conversion. That was a one-off thing to aid in the transition to melodic and I don't it will continue.

@narora1 or @erelson or @velveteenrobot should be able do a new bloom release.

[2020-06-11 23:46] knorth55 commented on #139
I hope we can get both kinetic and melodic release.
however, we can also wait for kinetic release.

anyway, before melodic release, can you check this PR?
https://github.com/fetchrobotics/fetch_ros/pull/132

[2020-06-18 09:19] mumu-jushen opened #143 "navigation is not work well"
I use the fetch navigation,but it don't work well.
First I build the map and send a pose to navigation.The robot's location match the map is terrible when it is running.I think it is because odom param is wrong.but I don't find the param in the project

[2020-06-30 01:57] nickswalker commented on #143
Potentially related to fetchrobotics/fetch_gazebo#36

[2020-07-09 15:33] NuBot-Cc opened #148 "[BUG] Can't Reset（Tuck Arm Disable）"
**Describe the bug**
I can't reset the manipulator to the original position, wether I press the button AT （ or deadman +AT） by following the wiki or control it by using Movit!. In Movit, the original position state doesn't be set. I don't konw if it is the reason about the problem.
How do I solve this problem?

 - ROS version:
Ubuntu18.04 melodic

[2020-09-08 15:22] YantianZha opened #149 "No interactive markers visible/available in RViZ"
Hello,

I am using the Kinetic version of fetch_ros software. I am trying to interactively control the fetch arm by following [this tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/quickstart_in_rviz/quickstart_in_rviz_tutorial.html). However, I cannot get the interactive markers as shown in that tutorial. Besides following the tutorial, I have tried multiple ways like changing

[2020-10-12 17:05] bergercookie opened #151 "[BUG] Linking issue when installing from source"
When I run the fetch gazebo simulation stack and fetch_navigation/fetch_nav.launch (installed from apt) it works fine.
However repeating the same procedure, after cloning fetch_ros (i.e., fetch_navigation) in my local workspace and after compiling the workspace packages with catkin_make, I'm getting the following error when running the navigation (I've the log in this ticket):

[code]

**To Reprod

[2020-10-17 22:55] moriarty commented on #151
Have you installed all of the dependencies using rosdep?

When installing via apt, the package dependencies are installed automatically. Building from source in a Docker, will fail to compile without the compile time dependencies, and will fail to run without the execution time dependencies.

http://wiki.ros.org/rosdep#Install_dependency_of_a_particular_package

[2020-10-17 23:08] moriarty commented on #151
These Dockerfiles are out of date but both run rosdep.

https://github.com/fetchrobotics/fetch_gazebo/issues/46

https://github.com/fetchrobotics/fetch_gazebo/issues/75

[2020-10-23 17:06] bergercookie commented on #151
I hadn't, no, good point.
However, having installed all the dependencies with rosdep, and having removed the `devel/lib/libfetch_depth_layer.so` generated object (so that it creates it again), I'm still getting this error.

I'm using `catkin_make` instead of `catkin` to compile, but I don't think that difference matters

[2020-10-23 18:52] erelson commented on #151
This is definitely odd. I haven't taken the time to try the repro (but thanks for the steps!)... a stab in the dark is: You could try putting a CATKIN_IGNORE in the `fetch_depth_layer/` folder and do a clean build from there.

[2020-10-24 14:17] bergercookie commented on #151
Sure,  that's actually my current mitigation; it compiles and executes the navigation gazebo demo successfully.

[2020-11-27 13:17] knorth55 commented on #139
any update for melodic release of `fetch_ros`?

[2020-11-28 19:28] erelson commented on #139
While I would like to do a release, and hope it would be painless, it would add a fair bit of testing on our end to verify everything is good. Right now our focus is on working towards a noetic release.  So, I cannot promise anything in this regards for any given timeline.

[2020-11-29 01:55] knorth55 commented on #139
I hope it would be not painful, but I'm relieved that you have a plan for the release.
We are also looking forward to the noetic release, too.

[2021-01-05 05:01] erelson commented on #138
I've put the proposed fixed from June into PRs #153 and #154 for noetic and melodic respectively.

[2021-01-05 05:40] 708yamaguchi commented on #138
@erelson
Thank you so much!

I can see bright fetch in Gazebo with your new `erelson:fix_urdf_textures_melodic` branch.

[2021-01-08 17:16] #138 closed, assigned to nobody

[2021-02-12 19:21] pabloinigoblasco opened #155 "[feature] Noetic support?"
Hello.
Is this repo planned to be supported in noetic?

We are using it in our examples in the smacc project and we wanted to move to noetic. We tried to add this project as git submodule and it partially works, but not totally.

https://www.youtube.com/watch?v=FYeNzukdIz4

At the current moment what I did as a workaround is to add the repo as a submodule (forking with [some minor changes ](https:

[2021-02-12 20:54] erelson commented on #155
Hi @pabloinigoblasco

Yep, we essentially have noetic support but haven't released it yet; still need to do more testing on my part, and have been busy the past month or so.  You can check out a few open PRs on this repo and the fetch_robots repo, in particular, with what changes we've got.  Note that for noetic, the branch names we're using are "ros1" instead of "noetic_devel".

I think the equiv

[2021-02-15 17:50] pabloinigoblasco commented on #155
I will try that branch you say.

- Yes, we work with gazebo and also the fetch_gazebo package. It was working for melodic but now demos do not work in noetic.

- We are trying to make them work again adding the fetch dependencies as submodules ([github ref](https://github.com/reelrbtx/SMACC/tree/noetic-devel/submodules)). To work in noetic I started forking the melodic branch and introducing some

[2021-02-21 23:59] erelson commented on #155
You might be reading the diffs incorrectly? My link above indicates version is 4.2, same as you're seeing.  Or alternately you're using the "current" ros1 branch, where as my link is to changes that are still in PR.  The erelson/noetic_tweaks branch is currently the latest.  Let me know how it goes, though!

(To be clear, I haven't tried the Gazebo demos, etc. in noetic myself yet)

[2021-02-26 18:05] pabloinigoblasco commented on #155
Hello.
Thanks for your help. We already have our three fetch demos working based on your erleson/noetic_tweeks pull request. We used the fetch_melodic gazebo version and looks to be working correctly. We have our own gazebo scenarios so we did not tested the gazebo package intensively.

In our examples we faced three minor issues that may not be related with your work and repositories.

-  the gro

[2021-03-28 22:33] erelson commented on #155
Just a quick note: there are ros-testing debians for everything needed for a ros noetic robot now.  I need to test the USB version of the customized 20.04 OS installer still...

[2021-06-16 16:53] SteveMacenski opened #158 "ROS2 Support"
Hi,

I'm working on a book (https://miccol.github.io/posts/2021/03/callforchapters/) and we're looking to standardize around a mobile-manipulator platform to use across the different chapters (nav, manipulation, AI, etc) such that we have 1 consistent robot throughout the book. This book is being worked on as a blueprint of how to build successful robot systems in ROS2, so all of the chapters and

[2021-07-02 22:38] mamoll commented on #126
@mptangtang can you check if PR #159 fixes this?

[2022-01-10 15:04] alters-mit opened #160 "[BUG] Non-motorized wheels of fetch are 'fused' with base_link.dae"
**Describe the bug**
The four non-motorized wheels of fetch are part of base_link.dae and aren't included in the URDF description as separate objects.  base_link_collision.STL doesn't include these wheels, meaning that they don't exist at all in a physics simulation.

**To Reproduce**
- Open base_link.dae in Blender to see that the wheels are attached to the base link cylinder.
- Import fetch.urdf

[2022-01-10 16:10] mikeferguson commented on #160
If you take a little closer look at the URDF, that is only the "visualization" mesh - the "collision" mesh is even more simplified (there are no casters, the bottom is just flat with a big rounded edge all the way around. In Gazebo, this base is given a low friction coefficient and then the drive wheels just stick out the bottom (at least when I originally created the simulation, modeling all the

[2022-01-11 15:58] alters-mit commented on #160
In that case, what prevents the robot from tipping over in Gazebo if the wheels essentially don't exist?

[2022-01-11 16:04] mikeferguson commented on #160
The entire base, except the rounded edge, is touching the ground (I like to visualize this as "a friction-less bathtub with wheels") - you can visualize it here on github: https://github.com/fetchrobotics/fetch_ros/blob/melodic-devel/fetch_description/meshes/base_link_collision.STL

[2022-01-11 19:12] alters-mit commented on #160
Got it. Thanks!

[2022-01-11 19:12] #160 closed, assigned to nobody